<div id="leftcontent" class="clearfix"> 
    	    <p><%= link_to image_tag("DowneyWebBannerRoundUp_v2+FINAL+to+client+090910[1].jpg", :alt=>"", :width=>400, :height=>171), "pdf/DowneyRoundUpPoster_v4 FINAL to client 090910.pdf", :rel => "external" %></p>
            <p><%= link_to image_tag("banner_checking.jpg", :alt=>"Founder's Day"), "pdf/freechecking.pdf", :rel => "external" %></p>
    	    
    	    <p><%= link_to image_tag("membership2.jpg", :alt=>"", :class=>"bottomspace"), "pdf/membership.pdf", :rel => "external" %>
    	        <%= link_to image_tag("financial_iq.jpg", :alt=>"financialiq", :width=>400, :height=>85, :class=>"bottomspace"), "pdf/FINANCIAL IQ POSTCARD3jan20.pdf", :rel => "external" %>
    	        <%= image_tag "recession.jpg", :class=>"bottomspace", :alt=>"" %>
    </p>
    	    <ul>
   	<li class="left"><%= link_to "How to Avoid Foreclosure", "pdf/foreclosurehelpweb.pdf", :rel => "external" %></li>
                    <li class="left"><%= link_to "Trouble making your DFCU mortgage payment?", "pdf/Membershavingtroubleweb.pdf", :rel => "external" %></li>
                    <li class="left"><%= link_to "&quot;America's Credit Unions: Secure, Strong&quot;", "pdf/AmericasCUsstrongsecure3.pdf", :rel => "external" %></li>
                    <li class="left"><%= link_to "Corporate Credit Union Stabilization", "pdf/CorporateStabweb.pdf", :rel => "external" %></li>
                </ul>
          <p><%= link_to image_tag("liberty.jpg", :class=>"bottomspace", :alt=>"Click here to educate yourself about fraud and identity theft."), "http://www.cuu.com/liberty/fraud_series.htm", :rel=>"confirm external" %>
          </p>
      </div>
        
      <div id="rightcontent" class="clearfix">
        <h3><br />Welcome to the Downey Federal Credit Union (DFCU) Web Site!</h3>
		<p>We hope that you find our site to be full of information to assist you with your financial needs. Our staff and officials are committed to providing the members of DFCU with <%= link_to "competitive rates", rates_path %>, <%= link_to "limited fees", dfcufees_path %> and <%= link_to "products and services", prodserv_path %> with your financial future in mind. To contact us by email, choose the appropriate department from our <%= link_to "department email list", staff_path %>.</p>
        <p>Our <%= link_to "Online Services", olserv_path %> offer convenience in evaluating your financial needs.  The addition of Home Branch, our FREE Internet Banking service, will bring increased convenience in accessing your account 24-hours a day, seven days a week.  You can also link to your Downey FCU Visa&reg; card account online, and access balance information, payment history and more.  Use our <%= link_to "Online Services", olserv_path %> page or browse the Internet at <%= link_to "www.ezcardinfo.com", "http://www.ezcardinfo.com", :rel => "confirm external" %> to view your Visa account.</p>
        <p class="redtext">To report a lost or stolen ATM card, VISA credit card, or DFCU checks, <%= link_to "click here", prodserv_path %>. </p>
        <p>With just the click of your mouse, your Downey FCU web site allows you to apply for a DFCU loan, transfer funds between your accounts via <%= link_to "Home Branch", hb_login_path %>, reorder checks, and much more. With just another click, you can link to our web sites for youth. For children ages 2-12, click on <%= link_to "Kirby Kangaroo", "http://www.kirbykangaroo.com/index.php?cuid=19257636", :rel => "confirm external" %>. For children ages 12-18, click on <%= link_to "www.CUSucceed.net", "http://www.cusucceed.net", :rel => "external" %>. If you are not aware, DFCU offers <%= link_to "My Financial Center", "http://members.cunamutual.com/H2/Insurance.aspx", :rel => "confirm external" %>, a resource center for retirement, which includes calculators and articles. At the <%= link_to "Resource Center", "http://members.cunamutual.com/H2/ResourceCenter.aspx", :rel => "external" %>, you can find and purchase investments such as mutual funds, fixed annuities, and term life insurance. Videos on this site include how to report auto accidents and how to prepare your home for disasters.</p>

	<!-- LOBBY DAYS  
         <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="500" height="135" title="Real Estate Lobby Days">
          <param name="movie" value="flash/relobbydays.swf" />
          <param name="quality" value="high" />
          <param name="wmode" value="opaque" />
          <embed src="flash/relobbydays.swf" quality="high" wmode="opaque" type="application/x-shockwave-flash" width="500" height="135"></embed>
        </object>   
-->
        <p>&nbsp;</p>
<p>
        <%= link_to image_tag("vehicle.jpg", :alt=>""), "http://downeyfcu.q2solutions.com", :rel => "confirm external" %>
          <%= link_to image_tag("BasicGAP.jpg", :alt=>""), "http://downeyfcu.q2solutions.com", :rel => "confirm external" %>
		  <%= link_to image_tag("ProtectVehicle.jpg", :alt=>""), "http://downeyfcu.q2solutions.com", :rel => "confirm external" %>
        </p>
        <p>&nbsp;</p>
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="500" height="135" title="Load Your Car">
      <param name="movie" value="flash/loadyourcar.swf" />
          <param name="quality" value="high" />
          <param name="wmode" value="opaque" />
          <embed src="flash/loadyourcar.swf" quality="high" wmode="opaque" type="application/x-shockwave-flash" width="500" height="135"></embed>
        </object>
        <h4>Members&reg; Auto and Homeowners Program</h4>
        <p>You trust DFCU to provide you and your family with quality products and services to meet your financial needs. We've joined with a dedicated team of insurance professionals to bring you the MEMBERS&reg; Auto and Homeowners Insurance Program. </p>
        <ul>
        	<li>MEMBERS Auto and Homeowners is the property and casualty coverage solution preferred by the most credit unions and their members.</li>
            <li>Convenient e-service, pay your bill or make changes to your policy, even report a claim.</li>
            <li>Receive fast, easy access to claims service 24-hours a day.</li>
            <li>Obtain a free, no obligation quote or locate an agent at the local Liberty Mutual sales office.</li>
        </ul>

        
        <%= link_to image_tag("members_home.jpg", :alt=>"", :width=>234, :height=>60), "http://www.membersautohome.com/default.aspx?contract=10415193&amp;ICU=BBB4&amp;utm_source=10415193&amp;utm_medium=Link&amp;utm_campaign=BBB4", :rel => "confirm external" %><%= link_to image_tag("members_auto.jpg", :alt=>"", :width=>234, :height=>60), "http://www.membersautohome.com/default.aspx?contract=10415193&amp;ICU=BBB4&amp;utm_source=10415193&amp;utm_medium=Link&amp;utm_campaign=BBB4", :rel => "confirm external" %>
        <p class="disclaimer">The MEMBERS Auto &amp; Home Insurance Program is underwritten by leading insurance companies, including Liberty Mutual Insurance Company and its affiliates, 175 Berkeley Street, Boston, MA. The insurance offered is not a deposit and is not federally insured or guaranteed by your credit union.</p>
        
        </div>
    </div>