<div id="leftcontent" class="clearfix">
        <p class="headgreen">Links For You</p>
        
        <p>For your convenience, DFCU has provided some links that might interest you while surfing the 'net.</p>
		<p class="bold disclaimer">*Downey Federal CU does not control these sites or its privacy practices and makes no warranty for its contents, products and services.</p>
		</div>
        
		<div id="right_inner" class="clearfix">
		<table class="fleft indent">
        	<tr>
            	<td><%= image_tag "l_auto.gif", :alt=>"", :width=>132, :height=>35 %>
                <ul class="links">
                	<li><%= link_to "Enterprise Sales", "http://www.enterprise.com/creditunion", :rel=>"confirm external" %></li>
                    <li><%= link_to "Edmunds", "http://www.edmunds.com", :rel=>"confirm external" %></li>
                    <li><%= link_to "Intellichoice", "http://www.intellichoice.com", :rel=>"confirm external" %></li>
                    <li><%= link_to "CarPoint", "http://www.carpoint.com", :rel=>"confirm external" %></li>
                    <li><%= link_to "Excite Autos", "http://www.excite.com/autos", :rel=>"confirm external" %></li>
                    <li><%= link_to "NADA", "http://www.nada.org", :rel=>"confirm external" %></li>
                    <li><%= link_to "Kelley Blue Book", "http://www.kbb.com", :rel=>"confirm external" %></li>
                </ul>
                </td>
            </tr>
        </table>
        
        <table width="132" class="fleft indent">
        	<tr>
            	<td><%= image_tag "l_fin.gif", :alt=>"", :width=>132, :height=>35 %>
                <ul class="links">
               	  <li><%= link_to "The Home Loan Center", "http://cupartners.mortgagewebcenter.com", :rel=>"confirm external" %></li>
                    <li><%= link_to "Stock Quotes", "http://www.stockquotes.com", :rel=>"confirm external" %></li>
                    <li><%= link_to "Foreign Currency Exchange Rates", "http://www.rubicon.com/passport/currency/currency.htm", :rel=>"confirm external" %></li>
                    <li><%= link_to "IRS - The Digital Daily", "http://www.irs.usTReas.gov/prod/cover.html", :rel=>"confirm external" %></li>
                    <li><%= link_to "The Tax Center", "http://www.onlinetaxpros.com?linkid=dfcu", :rel=>"confirm external" %></li>
                </ul>
              </td>
            </tr>
        </table>   
        
        <table width="132" class="fleft indent">
        	<tr>
            	<td><%= image_tag "l_pub.gif", :alt=>"", :width=>132, :height=>35 %>
                <ul class="links">
               	  <li><%= link_to "USA Today", "http://www.usatoday.com", :rel=>"confirm external" %></li>
                    <li><%= link_to "Barrons", "http://www.barrons.com", :rel=>"confirm external" %></li>
                    <li><%= link_to "Business Week", "http://www.businessweek.com", :rel=>"confirm external" %></li>
                    <li><%= link_to "Fortune", "http://www.fortune.com", :rel=>"confirm external" %></li>
                    <li><%= link_to "Forbes", "http://www.forbes.com", :rel=>"confirm external" %></li>
                </ul>
              </td>
            </tr>
        </table> 

        <table width="132" class="fleft indent">
        	<tr>
            	<td><%= image_tag "l_TRav.gif", :alt=>"", :width=>132, :height=>35 %>
                <ul class="links">
               	  <li><%= link_to "Travelocity", "http://www.travelocity.com", :rel=>"confirm external" %></li>
                    <li><%= link_to "Northwest Air", "http://www.nwa.com",  :rel=>"confirm external" %></li>
                    <li><%= link_to "Southwest Air", "http://www.southwest.com", :rel=>"confirm external" %></li>
                    <li><%= link_to "Mapquest", "http://www.mapquest.com", :rel=>"confirm external" %></li>
                </ul>
              </td>
            </tr>
        </table>      
        
        <table width="132" class="fleft indent">
        	<tr>
            	<td><%= image_tag "l_cu.gif", :alt=>"", :width=>132, :height=>35 %>
                <ul class="links">
               	  <li><%= link_to "NCUA", "http://www.ncua.gov", :rel=>"confirm external" %></li>
                    <li><%= link_to "CU Succeed", "http://www.cusucceed.net/index.php?cuid=19257636", :rel=>"confirm external" %></li>
                    <li><%= link_to "Check Reorder", "https://reorder.libertysite.com/login.asp", :rel=>"confirm external" %></li>
                    <li><%= link_to "DFCU Bauer Financial Info", "http://www.bauerfinancial.com/cart/report.asp?sponsor=X&amp;ftype=Credit&amp;entityNo=11870", :rel=>"confirm external" %></li>
                    <li><%= link_to "The Tax Center", "http://www.onlinetaxpros.com?linkid=dfcu", :rel=>"confirm external" %></li>
                </ul>
              </td>
            </tr>
        </table>                
   	</div>
 </div>