<div id="leftcontent" class="clearfix">
        <p class="headgreen">Online Services</p>
        <p>Downey Federal Credit Union will continue to offer value-added products and services to our growing family of members.  These online services provide convenience in evaluating your financial services needs, from the comfort of your home or office.</p>

		</div>
        
		<div id="right_inner" class="clearfix">
        <table cellpadding="0" cellspacing="0" class="olserv">
          <tr>
               <td class="first"><%= link_to "Home Branch", hb_login_path %></td>
               <td>Access your account online, 24 hours a day, seven days a week.</td>
          </tr>
          <tr class="highlight">
               <td class="first"><%= link_to "Loan Calculator", loancalc_path, :rel=>"external" %></td>
               <td>Calculate what an approximate monthly payment will be on a new loan.</td>
          </tr>
          <tr>
               <td class="first"><%= link_to "Loan Application", new_loanapp_path %></td>
               <td>Apply for loans online!</td>
          </tr>
          <tr class="highlight">
               <td class="first"><%= link_to "Check Re-Order", "https://reorder.libertysite.com/default.aspx", :rel=>"confirm external" %></td>
               <td>Order Liberty Checks for your DFCU checking account online</td>
          </tr>
          <tr>
               <td class="first"><%= link_to "Request Info", new_reqinfo_path %></td>
               <td>Request more information on our convenient products, services and membership.</td>
          </tr>
          <tr class="highlight">
               <td class="first"><%= link_to "DFCU Visa", "http://www.ezcardinfo.com", :rel=>"confirm external" %></td>
               <td>Review your current VISA account information.</td>
          </tr>
          <tr>
               <td class="first"><%= link_to "MFN", "http://members.cunamutual.com/H2/ResourceCenter.aspx", :rel=>"confirm external" %></td>
               <td>Members Financial Services - Management tools, educational, brokerage &amp; insurance products.</td>
          </tr>
          <tr class="highlight">
               <td class="first"><%= link_to "Mortgage Loans", "http://www.cupartners.com/hlc.htm", :rel=>"confirm external" %></td>
               <td>Purchase or Refinance with DFCU.</td>
          </tr>
          <tr>
               <td class="first"><%= link_to "Tax Center", "http://onlinetaxpros.com/?linkid=dfcu", :rel=>"confirm external" %></td>
               <td>To file State and Federal Tax Returns online.</td>
          </tr>                                        
        </table>
        
		</div>
    </div>