<div id="leftcontent" class="clearfix">
       <p class="headgreen">Current Rates</p>
       <p>The below rates are the anticipated rates and annual percentage yields for the current dividend period. The rates and terms are subject to change without notice. You must maintain the minimum balance in your account to obtain the Annual Percentage Yield (APY) disclosed. The APY is calculated assuming dividends remain in the account. Premature withdrawal of funds could reduce the earnings on the account. If you close any share account before dividends are paid, you will not receive the accrued dividends. Refer to Account Disclosure for other terms and conditions which may apply. If you have any questions, please call us at (562) 862-8141. </p>
       
       <ul>
       	<li><%= link_to "Share Rates", :anchor => "shares" %></li>
        <li><%= link_to "Share Certificate Rates", :anchor => "cert" %></li>
        <li><%= link_to "IRA Rates", :anchor => "ira" %></li>
        <li><%= link_to "Loan Rates", :anchor => "loans" %></li>
        <li><%= link_to "Important Disclosure Information - VISA Card", :anchor => "visa" %></li>
        <li><%= link_to "Real Estate Loan Rates", :anchor => "real" %></li>
       </ul>
</div>

<div id="right_inner" class="clearfix">
     

<a name="shares"></a><strong>Effective: Sept. 1, 2010</strong>

<!--  Share Accounts -->
<table border="1" class="small">
<tr>
<th colspan="5">Share Accounts</th>
</tr>
<tr class="highlight bold">
<td>Account Description</td>
<td>Dividend Period</td>
<td>Minimum Balance to earn dividends</td>
<td>Dividend Rate</td>
<td>Annual Percentage Yield<br />APY*</td>
</tr>
<tr>
<td style="width: 150px">Regular Share Account</td>
<td>Quarterly</td>
<td>$100</td>
<td>0.50%</td>
<td>0.50%</td>
</tr>
<tr>
<td style="width: 150px">Share Draft Checking Account</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
</tr>
<tr>
<td style="width: 150px">Money Market Account</td>
<td>Monthly</td>
<td>$2,500</td>
<td>0.65%</td>
<td>0.65%</td>
</tr>
<tr>
<td style="width: 150px">Holiday Club Account</td>
<td>Quarterly</td>
<td>N/A</td>
<td>0.80%</td>
<td>0.80%</td>
</tr>
<tr>
<td style="width: 150px">"You Name It" Account</td>
<td>Quarterly</td>
<td>N/A</td>
<td>0.50%</td>
<td>0.50%</td>
</tr>
<tr>
<td style="width: 150px">Minor Account (Under 18)</td>
<td>Monthly</td>
<td>$5</td>
<td>0.50%</td>
<td>0.50%</td>
</tr>
<tr>
<td style="width: 150px">CU Succeed Account</td>
<td>Quarterly</td>
<td>$100</td>
<td>0.50%</td>
<td>0.50%</td>
</tr>
<tr>
<td style="width: 150px">Coogan Trust Account</td>
<td>Quarterly</td>
<td>$100</td>
<td>0.50%</td>
<td>0.50%</td>
</tr>
<tr>
<td style="width: 150px">Savings Secured VISA</td>
<td>Quarterly</td>
<td>$500</td>
<td>0.50%</td>
<td>0.50%</td>
</tr>
<tr>
<td style="width: 150px">Summer Survival Account</td>
<td>Quarterly</td>
<td>N/A</td>
<td>1.99%</td>
<td>2.00%</td>
</tr>
</table>
<!--  END Share Accounts -->
<br />

<a name="cert"></a><strong>Effective: Sept. 1, 2010</strong>

<!--  Share Certificate Accounts -->
<table border="1" class="small">
<tr>
<th colspan="5">Share Certificate Accounts</th>
</tr>
<tr class="highlight bold">
<td>Account Description</td>
<td>Dividend Period</td>
<td>Minimum Balance</td>
<td>Dividend Rate</td>
<td>APY*</td>
</tr>
<tr>
<td>6 Month</td>
<td>Quarterly</td>
<td>$1,000</td>
<td>0.70%</td>
<td>0.70%</td>
</tr>
<tr>
<td>12 Month</td>
<td>Quarterly</td>
<td>$1,000</td>
<td>0.90%</td>
<td>0.90%</td>
</tr>
<tr>
<td>24 Month</td>
<td>Quarterly</td>
<td>$1,000</td>
<td>1.44%</td>
<td>1.45%</td>
</tr>
<tr>
<td>36 Month</td>
<td>Quarterly</td>
<td>$1,000</td>
<td>1.69%</td>
<td>1.70%</td>
</tr>
<tr>
<td>48 Month</td>
<td>Quarterly</td>
<td>$1,000</td>
<td>1.74%</td>
<td>1.75%</td>
</tr>
<tr><td class="bold" colspan="5">Share Certificate Accounts are subject to a penalty for early withdrawals.</td></tr>
</table>
<!--  END Share Certificate Accounts -->
<br />

<a name="ira"></a><strong>Effective: Sept. 1, 2010</strong>

<!--  IRA Rates -->
<table border="1" class="small">
<tr>
<th colspan="5">Individual Retirement Accounts</th>
</tr>
<tr class="highlight bold">
<td>Account Description</td>
<td>Dividend Period</td>
<td>Minimum Balance</td>
<td>Dividend Rate</td>
<td>APY*</td>
</tr>
<tr>
<td style="width: 150px">Regular IRA</td>
<td>Quarterly</td>
<td>N/A</td>
<td>0.85%</td>
<td>0.85%</td>
</tr>
<tr>
<td style="width: 150px">12 Month Traditional IRA</td>
<td>Quarterly</td>
<td>$500</td>
<td>1.00%</td>
<td>1.00%</td>
</tr>
<tr>
<td style="width: 150px">18 Month Traditional IRA</td>
<td>Quarterly</td>
<td>$500</td>
<td>1.99%</td>
<td>2.00%</td>
</tr>
<tr>
<td style="width: 150px">30 Month Traditional IRA</td>
<td>Quarterly</td>
<td>$500</td>
<td>2.08%</td>
<td>2.10%</td>
</tr>
<tr>
<td style="width: 150px">12 Month Roth IRA</td>
<td>Quarterly</td>
<td>$500</td>
<td>1.00%</td>
<td>1.00%</td>
</tr>
<tr>
<td style="width: 150px">18 Month Roth IRA</td>
<td>Quarterly</td>
<td>$500</td>
<td>1.99%</td>
<td>2.00%</td>
</tr>
<tr>
<td style="width: 150px">30 Month Roth IRA</td>
<td>Quarterly</td>
<td>$500</td>
<td>2.08%</td>
<td>2.10%</td>
</tr>
<tr>
<td style="width: 150px">12 Month Education IRA</td>
<td>Quarterly</td>
<td>$500</td>
<td>1.00%</td>
<td>1.00%</td>
</tr>
<tr>
<td style="width: 150px">18 Month Education IRA</td>
<td>Quarterly</td>
<td>$500</td>
<td>1.99%</td>
<td>2.00%</td>
</tr>
<tr>
<td style="width: 150px">30 Month Education IRA</td>
<td>Quarterly</td>
<td>$500</td>
<td>2.08%</td>
<td>2.10%</td>
</tr>
<tr>
<td style="width: 150px">12 Month SEP IRA</td>
<td>Quarterly</td>
<td>$500</td>
<td>1.00%</td>
<td>1.00%</td>
</tr>
<tr>
<td style="width: 150px">18 Month SEP IRA</td>
<td>Quarterly</td>
<td>$500</td>
<td>1.99%</td>
<td>2.00%</td>
</tr>
<tr>
<td style="width: 150px">30 Month SEP IRA </td>
<td>Quarterly</td>
<td>$500</td>
<td>2.08%</td>
<td>2.10%</td>
</tr>
<tr><td class="bold" colspan="5">Share Certificate Accounts are subject to a penalty for early withdrawal<br />Other IRS penalties may apply.<br />Rates are subject to change without notice.</td></tr>
</table>
<!--  END IRA -->
<br /><br />

<a name="loans"></a><strong>Effective: Sept. 1, 2010</strong>

<!--  Consumer Loans -->
<table border="1" class="small">
<tr>
<th colspan="5">Consumer Loan Rates</th>
</tr>
<tr class="highlight bold">
<td>Account Description</td>
<td>Rate Type</td>
<td>Annual Percentage Rate (APR)</td>
<td>Maximum Repayment Period</td>
<td>Amount Financed</td>
</tr>
<tr>
<td style="width: 100px">Line of Credit</td>
<td style="width: 75px">Fixed Rate</td>
<td style="width: 125px">15.90%<br />  Daily Periodic Rate<br />  .043562%</td>
<td>Open End</td>
<td>Up to $15,000</td>
</tr>
<tr>
<td style="width: 100px">Overdraft</td>
<td style="width: 75px">Fixed Rate</td>
<td style="width: 125px">15.90%<br />  Daily Periodic Rate<br />  .043562%</td>
<td>Open End</td>
<td>Up to $2,000</td>
</tr>
<tr>
<td style="width: 100px">VISA Classic<br />(No Annual Fee)</td>
<td style="width: 75px">Fixed Rate</td>
<td style="width: 125px">13.20%</td>
<td>Open End</td>
<td> Up to $15,000</td>
</tr>
<tr>
<td style="width: 100px">Signature Loan</td>
<td style="width: 75px">Fixed Rate</td>
<td style="width: 125px">as low as 7.99% **</td>
<td>12 Months</td>
<td> Up to $15,000</td>
</tr>
<tr>
<td style="width: 100px">Signature Loan</td>
<td style="width: 75px">Fixed Rate</td>
<td style="width: 125px">as low as 8.25% **</td>
<td>24 Months</td>
<td> Up to $15,000</td>
</tr>
<tr>
<td style="width: 100px">Signature Loan</td>
<td style="width: 75px">Fixed Rate</td>
<td style="width: 125px">as low as 8.50% **</td>
<td>36 Months</td>
<td> Up to $15,000</td>
</tr>
<tr>
<td style="width: 100px">Signature Loan</td>
<td style="width: 75px">Fixed Rate</td>
<td style="width: 125px">as low as 8.75% **</td>
<td>48 Months</td>
<td> Up to $15,000</td>
</tr>
<tr>
<td colspan="5"><b>12 monthly payments of $86.99 per $1,000 borrowed at 7.99%</b></td>
</tr>
<tr>
<td style="width: 100px">Signature Loan</td>
<td style="width: 75px">Fixed Rate</td>
<td style="width: 125px">as low as 9.00% **</td>
<td>60 Months</td>
<td>Up to $15,000</td>
</tr>
<tr>
<td style="width: 100px"><br />RECREATIONAL  <br />  VEHICLES</td>
<td style="width: 75px"><br />Fixed Rate</td>
<td style="width: 125px"><br />  as low as 7.75%**<br /><br /><br />as low as 8.50% **</td>
<td><br />48 Months<br /><br /><br />180 Months</td>
<td><br />Up to 90% of purchase price<br /></td>
</tr>
<tr>
<td style="width: 100px">New<br />Autos<br /><br />2009 to Current</td>
<td style="width: 75px">Fixed Rate</td>
<td style="width: 125px"><br />as low as 3.49% **<br /><br /> as low as 4.50% **</td>
<td><br />60 Months <br /><br />72 Months</td>
<td>Up to 100% of Purchase Price, MSRP including tax, license, and extended warranty</td>
</tr>
<tr>
<td style="width: 100px">Used Autos <br /><br />  2005 to 2008<br />  Year Models<br />  <br /><br />  2002 to 2004<br />  Year Models</td>
<td style="width: 75px">Fixed Rate</td>
<td style="width: 125px"><br />as low as 4.85% **<br /><br /> as low as 5.50% **<br />  <br /><br />  as low as 7.50% **<br /><br />  as low as 8.00% **</td>
<td><br />60 Months <br /><br />72 Months<br /><br /><br />12 Months<br /><br />36 Months</td>
<td>Up to 100% of Retail Kelly Blue Book, MSRP including tax, license and extended warranty</td>
</tr>
<tr>
<td style="width: 100px">Shared Secured Loan</td>
<td style="width: 75px">Fixed Rate</td>
<td style="width: 125px">Dividend Rate Plus 3.00%</td>
<td>120 Months</td>
<td>100% of Share Account</td>
</tr>
<tr>
<td colspan="5"><b>120 monthly payments of $9.66 per $1,000 borrowed at 3.00%<br /></b></td>
</tr>
<tr>
<td style="width: 100px">Certificate Secured Loan</td>
<td style="width: 75px">Fixed Rate</td>
<td style="width: 125px">Dividend Rate Plus 3.00%</td>
<td>Term of Certificate</td>
<td>100% of Certificate</td>
</tr>
</table>
<!--  END Consumer Loans -->
<br />

<a name="visa"></a>


	<!--  Visa : Important Disclosure Information -->
	<table border="1" class="small" style="margin-bottom: 0">
		<thead>
			<tr class="highlight bold">
				<th colspan="2">Important Disclosure Information - VISA Card</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td style="width: 180px"><strong>Annual Percentage Rate For Purchases, Balance Transfers, and Cash Advances</strong></td>
				<td style="font-size: 2em"><strong>13.2%</strong></td>
			</tr>
			<tr>
				<td><strong>How to Avoid Paying Interest on Purchases</strong></td>
				<td>Your due date is at least 25 days after the close of each billing cycle.&nbsp; We will not charge you any interest on purchases if you pay your entire balance by the due date each month.</td>
			</tr>
			<tr>
				<td><strong>Minimum Interest Charge</strong></td>
				<td>None</td>
			</tr>
			<tr>
				<td><strong>For Credit Card Tips from the Federal Reserve Board</strong></td>
				<td>To learn more about factors to consider when applying for or using a credit card, visit the website of the Federal Reserve Board at <%= link_to  "http://www.federalreserve.gov/creditcard", "http://www.federalreserve.gov/creditcard", :rel=>"external" %>.</td>
			</tr>
			<tr class="highlight bold">
				<td colspan="2">Fees</td>
			</tr>
			<tr>
				<td><strong>Annual Fee</strong></td>
				<td><strong>None</strong></td>
			</tr>
			<tr>
				<td valign="top"><strong>Transaction Fees</strong>
					<br />
					<ul style="margin-top: 0; padding-top: 0">
						<li>Balance Transfer</li>
						<li>Cash Advance</li>
						<li>Foreign Transaction</li>
					</ul>
				</td>
				<td valign="top">
					&nbsp;
					<br />
					<ul style="list-style-type: none; margin-left: 0; margin-top: 0; padding-left: 0; padding-top: 0">
						<li style="margin-left: 0; padding-left: 0"><strong>None</strong></li>
						<li style="margin-left: 0; padding-left: 0"><strong>None</strong></li>
						<li style="margin-left: 0; padding-left: 0"><strong>1%</strong> of each transaction in U.S. dollars (transactions made in foreign currency)</li>
						<li style="margin-left: 0; padding-left: 0"><strong>0.8%</strong> of each transaction in U.S. dollars (transactions made in foreign currency, billed in U.S. dollars)</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td valign="top"><strong>Penalty Fees</strong>
					<br />
					<ul style="margin-top: 0; padding-top: 0">
						<li>Late Payment</li>
						<li>Over-the-Credit Limit</li>
						<li>Returned Payment</li>
					</ul>
				</td>
				<td valign="top">
					&nbsp;
					<br />
					<ul style="list-style-type: none; margin-left: 0; margin-top: 0; padding-left: 0; padding-top: 0">
						<li style="margin-left: 0; padding-left: 0"><strong>$20.00</strong></li>
						<li style="margin-left: 0; padding-left: 0"><strong>None</strong></li>
						<li style="margin-left: 0; padding-left: 0"><strong>$15.00</strong></li>
					</ul>
				</td>
			</tr>
		</tbody>
	</table>
	<p>
		<strong>How We Will Calculate Your Balance</strong>: We will use a method called &quot;average daily balance (including new purchases)&quot;
	</p>
	<p style="margin-bottom: 25px">
		<strong>Billing Rights</strong>: Information on your rights to dispute transactions and how to exercise those rights is provided in your account agreement.
	</p>
	<!-- END Visa Disclosure Information -->

<a name="real"></a><strong>Effective: Sept. 1, 2010</strong>

<!--  Real Estate Loans -->
<table border="1" class="small">
<tr>
<th colspan="5">Real Estate Loans</th>
</tr>
<tr class="highlight bold">
<td>Account Description</td>
<td>Rate Type</td>
<td>Annual Percentage Rate (APR)</td>
<td>Maximum Repayment Period</td>
<td>Amount Financed</td>
</tr>
<tr>
<td style="width: 100px">First Trust Deed (Owner Occupied)</td>
<td style="width: 75px">Fixed Rate</td>
<td style="width: 125px"><%= link_to "Quoted Daily", "http://www.cupartners.com/hlc.htm", :rel=>"external" %></td>
<td>30 Years (7 Year Call Option)</td>
<td>80% LTV $750,000</td>
</tr>
<tr>
<td style="width: 100px">Second Trust Deed (Owner Occupied)</td>
<td style="width: 75px">Fixed Rate</td>
<td style="width: 125px">as low as 5.00% **</td>
<td>60 Months</td>
<td>80% LTV $175,000</td>
</tr>
<tr>
<td style="width: 100px">Second Trust Deed (Owner Occupied)</td>
<td style="width: 75px">Fixed Rate</td>
<td style="width: 125px">as low as 5.50%**</td>
<td>120 Months</td>
<td>80% LTV $175,000</td>
</tr>
<tr>
<td style="width: 100px">Second Trust Deed 
(Owner Occupied)</td>
<td style="width: 75px">Fixed Rate</td>
<td style="width: 125px">as low as 6.00%**</td>
<td>180 Months</td>
<td>80% LTV $175,000</td>
</tr>
<tr>
<td style="width: 100px">Rental Equity Second Trust Deed (Non-Owner Occupied)</td>
<td style="width: 75px">Fixed Rate</td>
<td style="width: 125px">as low as 7.50%**<br /><br />as low as 8.50%**<br /><br />as low as 9.50%**<br /></td>
<td>84 Months<br /><br />120 Months<br /><br />144 Months</td>
<td>70% LTV $50,000</td>
</tr>
<tr>
<td style="width: 100px">HELOC - Home Equity Line of Credit (Owner Occupied)</td>
<td style="width: 75px">Variable Rate</td>
<td style="width: 125px">Quoted Monthly</td>
<td>Open End 10 Year Draw / 10 Year Repayment</td>
<td>80% LTV $50,000 to $175,000</td>
</tr>
<tr>
<td style="width: 100px"> RELOC - Rental Equity Line of Credit (Non-Owner Occupied)</td>
<td style="width: 75px"> Variable Rate</td>
<td style="width: 125px">Quoted Monthly</td>
<td>Open End 7 Year Draw / 12 Year Repayment</td>
<td>70% LTV $50,000</td>
</tr>
<tr><td class="bold" colspan="5">**Disclosed rates are the lowest rates available and members must qualify.  <br />Actual rate may be higher and is based on credit history and term of loan.  <br />Contact your credit union loan representative for qualification requirements and conditions.<br />180 monthly payments of $9.86 per $1000 borrowed at 8.5% APR</td></tr>
</table>
<!--  END Real Estate Loans -->
<br />
      </div>
    </div>