<div id="leftcontent" class="clearfix">
       <p class="headgreen">Department E-Mails</p>
       	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="small">
  <tr>
  <th>Marketing</th>
  </td>
  </tr>
	<tr>
    <td class="centertext"><%= mail_to "marketing@downeyfcu.org", "marketing@downeyfcu.org" %></td>
    </tr>
      <tr>
  <th>Human Resources</th>
  </td>
  </tr>
	<tr>
    <td class="centertext"><%= mail_to "hr@downeyfcu.org", "hr@downeyfcu.org" %></td>
    </tr>
      <tr>
  <th>Community Education &amp; Development</th>
  </td>
  </tr>
	<tr>
    <td class="centertext"><%= mail_to "busdev@downeyfcu.org", "busdev@downeyfcu.org" %></td>
    </tr>
      <tr>
  <th>Lending Services</th>
  </td>
  </tr>
	<tr>
    <td class="centertext"><%= mail_to "loandept@downeyfcu.org", "loandept@downeyfcu.org" %></td>
    </tr>
      <tr>
  <th>Member Services</th>
  </td>
  </tr>
	<tr>
    <td class="centertext"><%= mail_to "mbrserv@downeyfcu.org", "mbrserv@downeyfcu.org" %></td>
    </tr>
      <tr>
  <th>Information Technology</th>
  </td>
  </tr>
	<tr>
    <td class="centertext"><%= mail_to "ITDept@downeyfcu.org" , "ITDept@downeyfcu.org" %></td>
    </tr>
    
</table>
     </div>
</div>	 