<div id="leftcontent" class="clearfix">
	    <div class="centertext"><%= image_tag "freechecking.jpg", :alt=>"" %></div>
        <hr />
        <p class="headgreen">Tom Long Enterprises Has Moved to a New Location!</p>
        <p class="bold">Tom Long Enterprises - An EXCLUSIVE member service for Downey Federal Credit Union members </p>
        	<ul>
            	<li>Assists you in locating a new vehicle</li>
                <li>Searches for the features and options you want</li>
                <li>Helps negotiate a price</li>
                <li>Delivers your new vehicle right to your home or office</li>
            </ul>
        <p>For prompt service, please contact Tom or Mike at:</p>

        <p>
        Phone (562) 694-0925<br />
		Fax (562) 694-0946</p>
        <p>700 E. Lambert Rd.<br />
			Suite #C<br />
			La Habra, CA 90631</p>

        <p>Your dream car is only a phone call away. Call today for assistance. </p>
        
        <hr />
        
        <p class="headgreen">Teens - we want to CU Succeed!</p>
        <p>If you’re 13 to 18 years old, you’re ready to start making some financial decisions …and DFCU can help. CU Succeed is an interactive financial education program designed to help teens learn how to manage money, finances, and get practical advise on financial topics such as:</p>
        <ul>
        	<li>Balancing a checkbook</li>
            <li>Preparing a budget</li>
            <li>Saving money</li>
            <li>Buying your first car</li>
            <li>Watching the fine print on credit card offers</li>
            <li>Importance of using credit wisely</li>
            <li>Establishing a great credit history</li>
        </ul>
        <p>You can also submit your own financial articles for publication through CU Succeed.  If your article is chosen to be published on their web site or in their quarterly newsletter, CU Succeed will pay you up to $100 and a donation will be made to your school in your name. Check out the CU Succeed Teen Financial Network by clicking on the CU Succeed banner below.</p>
        <p class="disclaimer">This program allow you to have a savings and a checking account at age 13. </p>
        <p><%= link_to image_tag("cu_ad_cusucceed2.gif", :alt=>"", :width=>200, :height=>75, :class=>"imagespace2"), "http://www.cusucceed.net/index.php?cuid=19257636", :rel=>"confirm external" %><%= link_to image_tag("kirby_ad_120x112.gif", :alt=>"", :width=>112, :height=>120), "http://www.kirbykangaroo.com/index.php?cuid=19257636", :rel=>"confirm external" %></p>
        <hr />
        <p class="headgreen">Home Branch keeps you in touch</p>
        <p>Imagine the possibilities: Using DFCU’s <%= link_to "Home Branch", hb_login_path %>, you can balance your checkbook in the wee small hours of the morning when you can’t sleep. Or transfer funds from savings to checking to prevent NSF fees. And you can make loan payments any time, as well as see and print copies of cleared DFCU checks. All this and more through your home or office computer.</p>
        <p><%= link_to "Home Branch", hb_login_path %> is free, so you can check your account every day. If you’re not registered yet, click on <%= link_to "Home Branch", hb_login_path %> to sign up.</p>
        
        </div>
        
		<div id="right_inner" class="clearfix">
        
        <div class="centertext"><%= link_to image_tag("membership.jpg", :alt=>""), "pdf/membership.pdf", :rel=>"external" %></div>
        <hr />
        <p class="headgreen">DFCU Newsletters</p>
        <p>Download our current newsletter or past editions. You'll need Adobe Acrobat to view these. If you don't already have this plug-in, please click the <%= link_to "Adobe Acrobat Reader", "http://get.adobe.com/reader/", :rel=>"confirm external" %> plug-in.</p>
        
        <ul>
        	<li><%= link_to "4th Quarter Newsletter 2010", "pdf/october2010.pdf", :rel=>"external" %></li>
        	<li><%= link_to "3rd Quarter Newsletter 2010", "pdf/3rd_quarter_2010.pdf", :rel=>"external" %></li>
            <li><%= link_to "2nd Quarter Newsletter 2010", "pdf/2nd_quarter_2010.pdf", :rel=>"external" %></li>
        	<li><%= link_to "1st Quarter Newsletter 2010", "pdf/1st_quarter_2010.pdf", :rel=>"external" %></li>
            <li><%= link_to "4th Quarter Newsletter 2009", "pdf/4th_quarter_2009.pdf", :rel=>"external" %></li>
            <li><%= link_to "3rd Quarter Newsletter 2009", "pdf/july2009.pdf", :rel=>"external" %></li>
            <li><%= link_to "2nd Quarter Newsletter 2009", "pdf/july2009.pdf", :rel=>"external" %></li>
            <li><%= link_to "1st Quarter Newsletter 2009", "pdf/jan2009.pdf", :rel=>"external" %></li>
            <li><%= link_to "4th Quarter Newsletter 2008", "pdf/oct2008.pdf", :rel=>"external" %></li>
            <li><%= link_to "3rd Quarter Newsletter 2008", "pdf/july2008.pdf", :rel=>"external" %></li>
            <li><%= link_to "2nd Quarter Newsletter 2008", "pdf/april2008.pdf", :rel=>"external" %></li>
            <li><%= link_to "1st Quarter Newsletter 2008", "pdf/jan2008.pdf", :rel=>"external" %></li>
        </ul>
        
        <h3>2009 Annual Report</h3>
        <p><%= link_to "Click here to view", "pdf/2009AnnualReport.pdf", :rel=>"external" %> a copy of our 2009 Annual Report.</p>
        
        <hr />
        <p class="headgreen">President's Column<br /><span class="italic">Message to Our Members</span></p>
        
        <p>Downey Federal Credit Union has been a tradition in Downey for over 50 years. During our long history, we have embraced the people in the community as our partners and friends, serving generations of families. Strong capital reserves and a strong commitment to bringing only the best to our members means that you can count on us to provide the financial products and services you need for years to come.  During 2009 the performance of the credit union remained positive, showing an increase in member's shares of 4%, an increase of 3% in assets, and a 3% decline in loans due to the economic and environmental conditions we encountered. </p>
        <p>One of our traditions involves a deep commitment to the community, sponsoring activities for the Downey Unified School District, the Downey Regional Medical Center (DRMC), and the community at large. In 2009, we continued our custom of giving back to the community through donations to various organizations and event sponsorships.  Our promise of serving members exhibits itself in the programs that we run and the products/services we offer. </p>
        <p>Being able to exemplify the meaning of &quot;People Helping People&quot;, we have continued to service those members who may have needed us more this year than ever before.  During this past year, we offered an excellent loan program to our members, giving them the opportunity to purchase vehicles, homes, and life's necessities at rates they could afford.   In 2009, Student Enrichment Grants were awarded to 41 Downey educators; monetary donations were made to the Career Technical Education programs in Downey high schools; along with being a Clinic Room Sponsor for the DRMC after-hours clinic.  As always, we have remained a visible participant in many of the community events including Kid's Day, Holiday Lane Parade, and the Downey Street Faire.   </p>
        <p>Continuing our tradition of service, we expanded our product and service offerings with <span class="italic">CU Pay It</span>, our online bill payment system. Our new product has been successful, as many members have adopted this convenient online payment method.  Our products and services will continue to be enhanced to provide you with the latest in technology and on-line access. </p>
        <p>Our legacy would not be complete without mentioning our excellent staff, and our volunteer Board of Directors and Supervisory Committee.  As DFCU starts its 53rd year of operation, we wish to thank all those responsible for our growth. The credit union's focus is to provide financial services to its members while remaining safe, strong, and secure.   We will continue to uphold our tradition of &quot;People Helping People&quot; so you can &quot;Count On Us Through All Stages Of Life.&quot;</p>
        <p class="bold italic">Barbara Lamberth<br />President/CEO</p>
        
        <hr />
        
        <p class="headgreen">Direct delivery of tax refund</p>
        <p>Why wait any longer than necessary to receive your income tax refund? Have it sent to your DFCU account by direct deposit and it’ll arrive in days, not weeks. Simply check the box on your tax form and be sure to indicate whether your refund should go to checking or savings. You’ll also need our routing number, which is <span class="bold">322275115</span>. </p>

<hr />
        <p class="headgreen">The Tax Center</p>
        <p>We have added a link to the Tax Center of America. To prepare you federal income tax return online, the cost is $19.95 and your state income tax return is $14.95.</p>
		<p class="italic disclaimer">* Downey Federal CU does not control this site or it's privacy practices and makes no warranty for its contents, products, and services.</p>
		</div>
    </div>