 <p><br /><br /><strong>Your information has been submitted.<br />Thank you!</strong></p>
 <p>The following details have been submitted:</p>
                
<p>
  <b>Name:</b>
  <%=h @contact.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @contact.email %>
</p>

<p>
  <b>Phone:</b>
  <%=h @contact.phone %>
</p>

<p>
  <b>Comments:</b>
  <%=h @contact.comments %>
</p>
<p><strong><%= link_to "Return to Home Page", root_path %></strong></p>