	<div id="bar" class="clearfix"><%= link_to "Privacy Policy", privacy_path %>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Security Policy &raquo;", secpolicy_path %></div>
    <div id="footer" class="clearfix">    
    	<ul>
        	<li><%= link_to image_tag("ncua.jpg", :alt=>"", :width=>121, :height=>57), "http://www.ncua.gov", :rel => "confirm external" %>
		<br />Your savings federally insured to <br />at least $250,000 and backed by <br />the full faith and credit of the <br />United States Government.</li>
        <li><%= link_to image_tag("asi.jpg", :alt=>""), "http://www.americanshare.com", :rel=>"confirm external" %><br />Your savings insured for an additional <br />$250,000 by ASI, the nations largest <br />private deposit insurer. </li>
        <li><%= link_to image_tag("ehl.jpg", :alt=>""), "http://www.hud.gov", :rel=>"confirm external" %>
        <br />We do business in accordance <br />with the Federal Fair <br />Housing Law &amp; the Equal <br />Credit Opportunity Act.</li>
        <li> <%= link_to image_tag("verivisa1.jpg", :alt=>""), "https://www.mycardsecure.com/vpas/certegy_vbvisa/enroll/index.jsp?locale=en_US&amp;bankid=3&amp;MESSAGEID=session.expired", :rel => "external" %>
		<p><%= link_to image_tag("securitymetrics.jpg", :alt=>""), "https://www.securitymetrics.com/site_certificate.adp?s=63.144.54.193&amp;i=74184", :rel => "external" %></p></li>
        </ul>
        
        <div class="shareone">&copy; 2010 All Rights Reserved<br />Website designed &amp; maintained by:<p><%= link_to image_tag("shareone_logo.jpg", :alt=>""), "http://www.shareone.com/", :rel => "external" %></p></div>
		</div>
    </div>